*{
    margin: 0px;
    padding: opx;
}
body{
    background-color: green;
}
.container{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    margin-top: 200px;
    width: 40%;
    padding: 50px;
}
.btn{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn1,.btn2,.btn3{
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}
.btn1{
    background-color: blue;
    border: 1px solid blue;
}
.btn2{
    background-color: brown;
    border: 1px solid brown;
}
.btn3{
    background-color: rgb(69, 248, 69);
    border: 1px solid rgb(69, 248, 69);
}
.li2{
    text-decoration: line-through;
    background-color: lightslategray;
}
h4{
    color: rgb(193, 184, 184);
}